<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!-- apply name -->
    <property name="APP_NAME" value="storage-service"/>
    <contextName>${APP_NAME}</contextName>
    <!-- Output to logstash Of appender-->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- Accessible logstash Log collection port -->
        <destination>localhost:5000</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service" : "${APP_NAME}"}</customFields>
        </encoder>
    </appender>
     <root level="info">
        <appender-ref ref="LOGSTASH"/>
         <appender-ref ref="CONSOLE" />
    </root>
</configuration>